body{
  overflow-x: none;

  /* background:linear-gradient(90deg,#F24645  ,#4F00BC ); */
}
.design {
  display:inline-block;
}
.content{
  transition: box-shadow .3s;
  display: inline-block;
  margin:2%;
  width: 70%;
padding: 2%;
 border-radius: 15px;
}
.right{
  width: 30%;
}

.design img{
  float: left;
  margin-right: 2%;
  margin-top: 5%;
  margin-left: 10%;
  vertical-align: middle;
}
.design{
  width: 70%;
  margin:2% 2% 5% 4% ;
  border-radius: 15px;
box-shadow: 0 0 20px rgba(33,33,33,.2);
}
.design:hover{
  box-shadow: 0 0 40px rgba(33,33,33,.2);
  border:0px solid rgba(0,0,0,0.2);

}
.list-unstyled li a{
  color:white;
}.list-unstyled li a:hover{
  text-decoration: none;
  color:white;
  font-size: 1.05rem;
}

.top{
  position: absolute;
  top: 10%;
  right: 2%;
  box-shadow: 0 0 20px rgba(33,33,33,.2);
  border:0px solid rgba(0,0,0,0.2);
  border-radius: 25px;

  padding: 3%;
}
.top:hover{

  box-shadow: 0 0 40px rgba(33,33,33,.2);
  border:0px solid rgba(0,0,0,0.2);
}
.top ul{
  color: grey;
  font-size: 120%;
  list-style: none;
}
.top ul li{
  transition: font 0.5s ease;

}
.top ul li:hover{
  color: black;
  font-size: 130%;
}
